.produtosGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  align-items: start;
}

.img {
  max-width: 100%;
  border-radius: 4px;
  margin-left: 0.5rem;
}

.preco {
  margin:0;
  padding: 0.4rem;
  border-radius: 4px;
  display: inline-block;
 background-color: #E06666;
 color: #3B0000;
}

.preco.precoCor {
  background-color: #66BB6A;
  color: #083015;
}

.descricao {
  max-width: 27ch;
}
